div.grid-container{
    display: grid;
    grid-template-areas:
        'header header header header header header header header header header header header header header'
        'menu main main main main main main main main main main main main right'
        'footer footer footer footer footer footer footer footer footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
}

            /* HEADER */

.header{
    grid-area: header;
    text-align: center;
    background-color: blue;
}

            /* MENU */

.menu{
    grid-area: menu;
    background-color: yellow;
}

div.listeCategories{
}

div.categorie{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;  
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 20px 0 rgba(0, 0, 0, 0.20);
}

ul.navigation {
    padding: 10px 16px;
    background-color: #eee;
    grid-area: menu;
}
  
ul.navigation li {
    display: inline;
    font-size: 16px;
}

ul.navigation li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


            /* MAIN */

form.rechercheTexte{
    padding-top: 25px;
    
}

.main{
    grid-area: main;
    background-color: green;
}

div.containerRecettes{
    padding: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 25px 25px;
}

div.boiteRecette{
    width: 250px;
    height : 250px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 20px 0 rgba(0, 0, 0, 0.20);
    text-align: center; 
}

div.boiteTitreRecette{
    padding: 10px;
}

img.imageRecette{
    width: inherit;
    height: 200px; 
}

            /* RIGHT */

.right{
    grid-area: right;
    background-color: pink;
}


div.listeIngredients{
    border: 1px solid black;
    text-align: center;
}


            /* FOOTER */

.footer{
    grid-area: footer;
    background-color: rgb(255, 5, 5);
}